.input {
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 10%;
}

.input label {
    margin-right: 3%;
}

.input input {
    border-radius: 2%;
    width: 20%;
    padding: 10px 10px;
}

.list {
    background-color:burlywood;
    height: 600px;
    width: 60%;
    margin-left: 10%;
    border-radius: 3%;
}

.messages-list {
    margin-top: 5%;
}

.messages-list .item {
    margin-top: 3%;
    margin-left: 3%;
    background-color: aqua;
    border-radius: 2%;
    width: 40%;
}